{% extends 'layout.html' %}


{% block body %}
    <div class='view-dashboard'>
        <div class='dashboard-content'>
            <table class='table server-table'>
                <thead>
                    <tr>
                        <th>Server</th>
                        <th>ID</th>
                        <th>IP</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(0, 6) %}
                        <tr>
                            <td><img src='{{ url_for('static', filename='image/minecraft.png') }}'/></td>
                            <td>aposdjfpoawjefpa;localhost</td>
                            <td>localhost:25565</td>
                            <td><a href='/server/aposdjfpaosdfj'>Manage</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
