{% extends 'layout_dashboard.html' %}


{% block dashboard %}
    <table class='table server-table'>
        <thead>
            <tr>
                <th>Server</th>
                <th>ID</th>
                <th>IP</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for server in servers %}
                <tr>
                    <td><img src='{{ url_for('static', filename='image/minecraft.png') }}'/></td>
                    <td>{{ server.id }}</td>
                    <td>localhost:{{ server.port }}</td>
                    <td>{{ server.get_container().status }}</td>
                    <td><a href='/server/{{ server.id }}'>Manage</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
