<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        {% endblock %}

        <link
        rel='stylesheet'
        type='text/css'
        href='{{ url_for('static', filename='css/style.css') }}'/>

        <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
        rel="stylesheet">

        {% assets "js_all" %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <meta charset='UTF-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <nav class='navbar'>
            <div class='site-content'>
                <div class='section'>
                    <a class='nav-item' href='/'>MCDashboard</a>
                </div>
                <div class='section'>
                    <a class='nav-item' href='/'>Servers</a>
                    <a class='nav-item' href='/server'>New</a>
                </div>
            </div>
        </nav>
        <div class='site-content'>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
