{% extends 'layout_dashboard.html' %}

{% from '_formhelpers.html' import render_field %}


{% block dashboard %}
    <div class='view-server'>
        <h1>{% if server %}{{ server.name }}{% else %}Create a new server{% endif %}</h1>
        
        <form class='form' method='POST'>
            {{ render_field(form.name) }}

            <div class='push-down'>
                <input type='submit' class='btn btn-primary' value='Save'/>
                {% include 'components/errors.html' %}
            </div>
        </form>
    </div>
{% endblock %}
